
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-width: 1190px
}

/* Sidebar Menu CSS Start */
.LeftSidebarHomeWrap {
  background-color: #fff;
  box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
  margin-top: 12px;
  border-radius: 3px;
}
.row.HomeContSidebarExPdd .col-md-2 {
  padding: 0px 8px;
}
.SidebarMainWrapBox ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.SidebarMainWrapBox ul li {
  display: block;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0px;
}
.SidebarMainWrapBox ul li:hover {
  background-color: #f0f3ff;
  border-bottom: 1px solid #dee2f2;
  transition: .3s;
}
.SidebarMainWrapBox ul li a.active {
  color: #000;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.SidebarMainWrapBox ul li a {
  color: #898989;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
  padding-left: 10px;
}
.SidebarMainWrapBox ul li a:hover {
  color: #000000;
  transition: .3s;
}
/* Sidebar Menu CSS End ------------------ */

/* Navbar Top Start */
/* Dropdown */
nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: unset;
  margin-left: 35px;
}
nav ul li a {
	text-decoration: none !important;
}
nav ul li a span {
  margin-left: 4px;
  color: #8f8f8f;
}
nav a {
	display: block;
  padding: 0 10px;
  color: #333;
  font-size: 15px;
  line-height: 60px;
  transition: .3s;
  text-decoration: none;
}
.navbarMenuBox {
  margin-top: 6px;
}
nav ul li ul li a {
  line-height: 38px;
  margin-left: -18px;
  text-decoration: none;
}
nav a:hover { 
  color: #e71745; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
  top: 59px;
  background-color: #e9e9e9;
}
nav ul li:hover > ul {
	display:inherit;
}
nav ul ul li {
	width:160px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }
/* Dropdown ----------*/

/* Right Section */
.navbarRightBoxWeb ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.navbarRightBoxWeb ul li {
  display: inline-block;
  margin-left: 32px;
}
.navbarRightBoxWeb {
  margin-top: 23px;
}
.navbarRightBoxWeb ul li {
  font-size: 18px;
  color: #737373;
  border-right: 1px solid #ddd;
  padding-right: 25px;
}
.navbarRightBoxWeb ul li:last-child {
  border-right: none;
}
/* Right Section */


.navbarMainMenuRwap {
  background-color: #f9f9f9;
  height: 68px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid #d3d3d3;
}
.navbarLogoBox {
  margin-top: 13px;
}
.navbarLogoBox img {
  width: 42%;
  margin-top: -5px;
}
.navbarSearchBox input {
  background-color: #f1f1f1;
  height: 34px;
  width: 90%;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  color: #333;
  outline: none;
  border: 1px solid #fffaae;
  margin-top: 13px;
}
.navbarSearchBox input:focus {
  border: 1px solid #fff000;
  transition: .3s;
}
.navbarSearchBox span button {
  background-color: #fff000;
  height: 34px;
  width: 48px;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  color: #000;
  outline: none;
  border: 1px solid #fff000;
  margin-top: 8px;
  text-align: center;
  margin-left: -26px;
  line-height: 17px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* Nav Right Web */
.SidebarNavWrapBox {
  background-color: #000;
  padding: 15px;
}
.SidebarNavWrapBox ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.SidebarNavWrapBox ul li {
  display: block;
  padding: 8px 0px;
}

.SidebarNavWrapBox ul li a.active {
  color: #fdff00;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.SidebarNavWrapBox ul li a {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
  padding-left: 10px;
}
.SidebarNavWrapBox ul li a:hover {
  color: #fdff00;
  transition: .3s;
}

.userloginsectionx a span {
  font-size: 14px;
  margin-left: 4px;
}
.userloginsectionx a {
  text-decoration: none;
}
.nav-item.dropdown .nav-link {
  color: #737373;
  padding: 0px;
}
.navbarRightBxIcon i.fas {
  color: #e5e5e5;
  font-size: 24px;
  margin-top: 17px;
  transition: .3s;
}
.SidebarNavWrapBox {
  position: absolute;
  display: none;
  transition: .3s;
  width: 165px;
  height: unset;
  z-index: 999;
  border-radius: 8px;
  right: -15px;
  top: 40px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
}
.navbarRightBxIcon:hover .SidebarNavWrapBox {
  display: block;
  transition: .3s;
}
/* Nav Right Web */

/* User Info Example */
.example-sec {
  margin-top: 58px;
}
.example-sec h5 {
  font-size: 18px;
}
.example-sec p {
  margin: 2px;
  font-size: 14px;
}
.example-sec p span {
  color: #000;
  font-weight: 600;
  margin-left: 10px;
}
/* User Info Example */

/* Signin dropdown */
.dropdown-menu.show {
  position: absolute;
  right: 10px !important;
}
.dropdown-menu.show button {
  text-align: right !important;
  margin-right: 0px;
  margin-left: 5%;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #e9e9e9;
  padding: 3px 20px;
}
.dropdown-menu.show button:hover {
  background-color: #f1f1f1;
  transition: .3s;
  color: #dd0000;
}
/* Signin dropdown */
/* Navbar Top End------------------- */

/* Login Page ------------------------- */
.user-form-main-box {
  margin-top: 80px;
}
.user-form-content-bx {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  padding-bottom: 20%;
}
.user-form-sng-input input {
  background-color: #f7f7f7;
  height: 40px;
  width: 48%;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  color: #333;
  outline: none;
  margin-top: 15px;
  border: none;
}
.user-form-head h4 {
  font-size: 24px;
  font-weight: 600;
  color: #494949;
}
.user-form-head {
  margin-top: 20px;
}
.user-form-head {
  margin-top: 20px;
}

.userfomr-new-user-reg {
  color: #9b9a9a;
  font-size: 14px;
}
.userfomr-new-user-reg span a {
  color: #0f7d4c;
}
.user-form-head h4 span {
  background-color: #e71745;
  color: #fff;
  border-radius: 3px;
  padding: 2px 6px 2px 6px;
}
.user-form-sub-btn button {
  border: none;
  background-color: #e71745;
  border: 1px solid #e71745;
  padding: 8px 50px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
  outline: none;
  margin-top: 45px;
}
.user-form-sub-btn button:hover {
  background: transparent;
    transition: .3s;
    border: 1px solid #e71745;
    color: #e71745;
}
/* Login Page End ----------------------*/

/* Home Content Start */
.row.hmContentProductExPdd .col-md-4 {
  padding: 0px 8px;
}
/* Price Dot */
span.HmAllProdPricSn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #e71745;
  padding: 8px 20px;
  text-align: center;
  border-radius: 2px;
  position: relative;
}
.HmAllProdPriceBox {
  margin-top: 16px;
  margin-bottom: 10px;
}
.HmAllProductDotTop {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  top: -8.6px;
  left: 30px;
  z-index: 99;
}
.HmAllProductDotBottom {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 92%;
  left: 30px;
}
span.HmAllProdOffPrc {
  font-size: 14px;
  margin-left: 10px;
  color: #b9b9b9;
}
/* Price Dot */
/* Load More Button */
.HomeContAllProdLoadBtn button {
  border: 1px solid #e71745;
  background: transparent;
  border-radius: 3px;
  padding: 8px 28px;
  color: #e71745;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  outline: none;
}
.HomeContAllProdLoadBtn button:hover {
  background-color: #e71745;
  color: #fff;
  transition: .3s;
}
.HomeContAllProdLoadBtn {
  margin: 10px;
  margin-bottom: 30px;
}
/* Load More Button End */
/* Home Content End --------------------*/

/* Product Details Start */
.productDetailsMainBox {
  margin-top: 67px;
}
.productDetailsMainWrap {
  background: #fff;
  border-radius: 7px;
  padding: 70px;
  margin-top: 15px;
}

/* Product Content Text Part Start */
.productDetailsText {
  margin-top: 55px;
  padding-left: 40px;
  padding-right: 16px;
}
.productDetailsText h1 {
  font-size: 24px;
  font-weight: 500;
  color: #3c3d42;
  margin-bottom: 10px;
  line-height: 40px;
}
.prod-desc p {
  font-size: 14px;
}
.productDetailsText p {
  color: #6f6d6d;
  font-size: 20px;
  margin-top: 18px;
  margin-bottom: 10px;
}
.productDetailsText h5 {
  font-size: 16px;
  font-weight: 500;
  color: #6f6f6f;
}
.productDetailsText h5 strong {
  font-weight: 600;
}
.productDetailsText p strong {
  font-weight: 500;
}
.productDetailsText p span {
  font-size: 16px;
  margin-left: 8px;
  color: #b5b5b5;
}
.prod-desc p {
  color: #6f6d6d;
  font-size: 14px !important;
  margin-top: 18px;
  margin-bottom: 10px;
}

.HomeAllProductsMainWrap {
  margin-top: 12px;
}
.HomeAllProductsMainWrap {
  margin-top: 12px;
}
.HomeAllProductsImgBox {
  background-color: #fff;
  padding: 14px;
  border-radius: 3px;
  margin-bottom: 16px;
  height: 95%;
}
.HomeAllProductsImgBox a {
  text-decoration: none;
}
.HomeAllProductsImgBox:hover {
  box-shadow: 0 4px 12px rgb(221 221 221);
  transition: .3s;
}
.HomeAllProductsImgBox img {
  width: 100%;
  border-radius: 3px;
  height: 220px;
}
.HmAllProductsText {
  margin-top: 12px;
}
.HmAllProductsText p {
  font-size: 13px;
  color: #333;
  margin-bottom: 12px;
}
/* Product Image End */

/* Add To cart btn */
.productDetailsText h5 {
  font-size: 13px;
  font-weight: 500;
  color: #6f6f6f;
}
.productDetailsText h5 strong {
  font-weight: 600;
}
.productAddtoCartBuyBtn {
  margin-top: 50px;
  margin-left: 40px;
}
.productAddtoCartBuyBtn ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.productAddtoCartBuyBtn ul li {
  display: inline-block;
  margin-right: 12px;
}
.productAddtoCartBuyBtn ul li button {
  border: 1px solid #e71745;
  background: transparent;
  padding: 9px 30px;
  color: #e71745;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
  outline: none;
}
.productAddtoCartBuyBtn ul li a {
  background-color: #e71745;
  padding: 10px 30px 11px 30px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: none;
  border: 1px solid #e71745;
}
.productAddtoCartBuyBtn ul li a:hover {
  background: transparent;
  color: #e71745;
  transition: .3s;
}
.productAddtoCartBuyBtn ul li button:hover {
  background-color: #e71745;
  transition: .3s;
  color: #fff;
}
/* Add To cart btn */
/* Product Image Part -------------*/

/* Trending Product */
.trending-prod-img img {
  width: 100%;
  margin-bottom: 38px;
}
.trending-prod-cont h1 {
  font-size: 22px;
  font-weight: 500;
  color: #3c3d42;
  margin-bottom: 10px;
  line-height: 40px;
}
.trending-prod-cont button {
  border: 1px solid #e71745;
  background: transparent;
  padding: 9px 30px;
  color: #e71745;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
  outline: none;
  margin-top: 30px;
}
.trending-prod-cont button:hover {
  background-color: #e71745;
  transition: .3s;
  color: #fff;
}
.trending-prod-cont p {
  color: #363636;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.trndprod-desc p {
  color: #6f6d6d;
  font-size: 13px !important;
  margin-top: 12px;
  font-weight: 400 !important;
}
.trendingproduct-main-hm {
  margin-top: 40px;
}
.trending-prod-cont a {
  text-decoration: none;
}
/* Star Sec */
.example-sec {
  margin-top: 58px;
}
.example-sec h5 {
  font-size: 18px;
}
.example-sec p {
  margin: 2px;
  font-size: 14px;
}
.example-sec p span {
  color: #000;
  font-weight: 600;
  margin-left: 10px;
}
.productAddtoCartBuyBtn ul li a:hover {
  background: transparent;
  color: #e71745;
  transition: .3s;
}
.star-rating-sec-box ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.star-rating-sec-box ul li {
  display: inline-block;
  margin-right: 6px;
  color: #d9d9d9;
  font-size: 13px;
}
.star-rating-sec-box ul li span {
  color: #333;
  margin-left: 2px;
}
.example-sec {
  margin-top: 58px;
}
.example-sec h5 {
  font-size: 18px;
}
.example-sec p {
  margin: 2px;
  font-size: 14px;
}
.example-sec p span {
  color: #000;
  font-weight: 600;
  margin-left: 10px;
}
.productAddtoCartBuyBtn ul li a:hover {
  background: transparent;
  color: #e71745;
  transition: .3s;
}
.star-rating-sec-box ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.star-rating-sec-box ul li {
  display: inline-block;
  margin-right: 6px;
  color: #d9d9d9;
}
.star-rating-sec-box ul li span {
  color: #333;
  margin-left: 2px;
}
li.trnd-ht-sec {
  margin-left: 10px;
  font-size: 18px !important;
  color: #797979 !important;
}
/* Star Sec */
/* Trending Product */

/* Product Details */
.productLgImg img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.prodDescMainBox {
  margin-top: 15px;
}
.prodDescMainBoxCont {
  background: #fff;
  border-radius: 7px;
  padding: 20px 70px;
}
.prodDescMainBoxCont p {
  font-size: 15px;
  color: #818181;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}
/* Product Details ------------------------ */

/* Right Sidebar Slider */
.rightTopSidebarSlideHomCont {
  margin-top: 12px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 3px;
}
.rightSidebarTopSlideTxt h3 {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 12px;
  background-color: #1900ff;
  padding: 10px 0px;
  border-radius: 3px;
  background-image: url(https://media.giphy.com/media/vNzqTRxwXrBMZbVDVH/giphy.gif);
}
.rightSidebarTopSlideTxt h3 span {
  color: #fff000;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
.TopSidebarProdSingle a {
  text-decoration: none;
}
.TopSidebarProdSingle img {
  width: 100%;
  border-radius: 3px;
}
/* Right Sidebar Slider End */

/* Home Banner Start */
.row.HomeBannerExPd .col-md-12 {
  padding: 0px;
}
.HomeBannerHeadTxt {
    height: 236px;
}
.HomeBannerHeadTxt img {
    width: 100%;
    height: 200px;
    margin-top: 35px;
}
.HomeBannerHeadTxt h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #fff;
    margin-top: -130px;
    padding-left: 175px;
    padding-right: 175px;
}
/* Home Banner Start----------------- */

/* Shop By Cat Overlay Start */
.shopby-cat-single-product-img img {
  width: 100%;
  height: 270px;
}
.shopbycate-main-box-hm {
  margin-top: 40px;
}
.shopbycatmainbox-head-sec h5 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  position: relative;
  margin-bottom: 26px;
}
.shopbycatmainbox-head-sec a {
  position: absolute;
  right: 10px;
  top: -1px;
  border: 1px solid #e71745 !important;
  font-size: 13px;
  padding: 8px 30px;
  color: #e71745 !important;
  text-decoration: none;
}
.shopbycatmainbox-head-sec a:hover {
  background-color: #e71745;
  transition: .3s;
  color: #fff !important;
}
/* Hover product overlay start */
.shopby-cat-single-product {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.shopby-cat-single-product-img img {
  width: 100%;
  height: 270px;
}
.content-details {
  color: #fff;
  font-size: 16px;
}
.shopby-cat-single-product .content-overlay {
  background: rgba(0,0,0,0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 9;
}
.shopby-cat-single-product:hover .content-overlay{
  opacity: 1;
}
.content-image{
  width: 100%;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out 0s;
}
.shopby-cat-single-product:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-top{
  top: 20%;
}
.fadeIn-left{
  left: 20%;
}
.fadeIn-right{
  left: 80%;
}
/* Hover End */
/* Shop By Cat Overlay End */



/* Only For Responsive Media Query, Mobile, Tablet, Laptop start------------------- */

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .container {
    min-width: 100%;
  }
  /* Home Banner */
  .HomeBannerHeadTxt h1 {
    font-size: 34px;
    margin-top: -124px;
    padding-left: 115px;
    padding-right: 115px;
  }
  /* Home Banner End ------ */

  /* Left Sidebar */
  .row.HomeContSidebarExPdd .col-md-2 {
    padding: 0px 5px;
  }
  /* Left Sidebar End */

  /* Product Content Start */
  .row.hmContentProductExPdd .col-md-4 {
    padding: 0px 5px;
  }
  .HomeAllProductsImgBox {
    padding: 12px;
    margin-bottom: 10px;
  }
  .HomeAllProductsImgBox img {
    width: 100%;
    border-radius: 3px;
    height: 195px;
  }
  .HomeContAllProdLoadBtn {
    margin: 20px;
    margin-bottom: 10px;
  }
  /* Product Content End ------------ */

 

  /* Product Details Start */
  .productDetailsMainWrap {
    padding: 45px;
    border-radius: 3px;
  }
  .productLgImg img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
  .productDetailsText {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .productDetailsText h1 {
    font-size: 22px;
    line-height: 34px;
  }
  .productDetailsText p {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 32px;
  }
  .productDetailsText p strong {
    font-weight: 600;
  }
  .productDetailsText a {
    font-size: 13px;
    border-radius: 3px;
    padding: 12px 30px;
    padding-right: 22px;
  }
  .prodDescMainBoxCont {
    background: #fff;
    border-radius: 3px;
    padding: 25px 45px;
  }
  .prodDescMainBoxCont p {
    font-size: 14px;
  }
  /* Product Details End ------------ */
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  .container {
    min-width: 100%;
  }
  /* Topbar */
  .navbarLogoBox img {
    width: 65%;
  }
  /* Topbar */

  /* Home Banner Start */
  .HomeBannerHeadTxt h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    margin-top: -130px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* Home Banner End --------- */

  /* Left Sidebar Start */
  .row.HomeContSidebarExPdd .col-md-2 {
    padding: 0px 5px;
  }
  .SidebarMainWrapBox ul li a {
    font-size: 12px;
    padding-left: 6px;
  }
  .SidebarMainWrapBox ul li {
    padding: 8px 0px;
  }
  /* Left Sidebar End */

  /* Product Content Start */
  .row.hmContentProductExPdd .col-md-4 {
    padding: 0px 5px;
  }
  .HomeAllProductsImgBox {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .HomeAllProductsImgBox img {
    height: 170px;
  }
  .HmAllProductsText p {
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
  }
  .HmAllProdPriceBox {
    margin-top: 14px;
    margin-bottom: 8px;
  }
  /* Product Content End */

  /* Product Details Start */
  .productDetailsMainWrap {
    background: #fff;
    border-radius: 6px;
    padding: 38px;
    margin-top: 15px;
  }
  .productLgImg img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  .productDetailsText {
    margin-top: 20px;
    padding-left: 8px;
    padding-right: 6px;
  }
  .productDetailsText h1 {
    font-size: 23px;
    line-height: 32px;
  }
  .productDetailsText p {
    font-size: 19px;
    margin-top: 16px;
    margin-bottom: 30px;
  }
  .productDetailsText a {
    font-size: 14px;
    padding: 12px 32px;
    padding-right: 24px;
  }
  .prodDescMainBoxCont {
    background: #fff;
    border-radius: 7px;
    padding: 22px 38px;
  }
  .prodDescMainBoxCont p {
    font-size: 14px;
    line-height: 23px;
  }
  /* Product Details End */
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 576px) and (max-width: 767px) { 
  .container {
    min-width: 100%;
  }
  /* Topbar Start */
  .navbarMainMenuRwap {
    height: 52px;
  }
  .navbarLogoBox img {
    width: 75%;
    margin-top: 1px;
  }
  .navbarSearchBox input {
    height: 30px;
    width: 94%;
    padding: 6px;
    font-size: 12px;
    margin-top: 11px;
  }
  .navbarSearchBox span button {
    height: 30px;
    width: 34px;
    padding: 8px;
    font-size: 12px;
    margin-top: 3px;
    margin-left: -28px;
    line-height: 14px;
  }
  .navbarRightBxIcon i.fas {
    margin-top: 15px;
  }
  .SidebarNavWrapBox ul li a {
    font-size: 13px;
  }
  .SidebarNavWrapBox {
    top: 42px;
  }
  /* Topbar End */

  /* Home Banner Start */
  .HomeBannerHeadTxt {
    height: 185px;
  }
  .HomeBannerHeadTxt img {
    width: 100%;
    height: 150px;
    margin-top: 40px;
  }
  .HomeBannerHeadTxt h1 {
    font-size: 24px;
    margin-top: -104px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Home Banner End */

  /* Left Sidebar Start */
  .LeftSidebarHomeWrap {
    display: none;
  }
  /* Left Sidebar End */

  /* Product Content Start */
  .HomeAllProductsMainWrap {
    margin-top: 22px;
  }
    .row.hmContentProductExPdd .col-md-4 {
      padding: 0px 4px;
  }
  .HomeAllProductsImgBox {
    padding: 12px;
    margin-bottom: 8px;
  }
  .HomeAllProductsImgBox img {
    width: 100%;
    height: 260px;
  }
  .HmAllProductsText {
    margin-top: 10px;
  }
  .HomeContAllProdLoadBtn {
    margin: 20px;
    margin-bottom: 15px;
  }
  .HomeContAllProdLoadBtn button {
    padding: 8px 26px;
    font-size: 12px;
    margin-bottom: 12px;
  }
  /* Product Content End ----------- */

  /* Top Discount Start */
  .rightSidebarTopSlideTxt h3 {
    font-size: 18px;
    margin-bottom: 12px;
    padding: 18px 0px;
  }
  /* Top Discount End */

  /* Product Details Start */
  .productDetailsMainWrap {
    border-radius: 3px;
    padding: 16px;
    margin-top: 8px;
  }
  .productLgImg img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
  .productDetailsText {
    margin-top: 16px;
    padding-left: 2px;
    padding-right: 1px;
  }
  .productDetailsText h1 {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 26px;
  }
  .productDetailsText p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 28px;
  }
  .productDetailsText p strong {
    font-weight: 600;
  }
  .productDetailsText a {
    font-size: 13px;
    border-radius: 3px;
    padding: 10px 22px;
    padding-right: 20px;
  }
  .prodDescMainBoxCont {
    background: #fff;
    border-radius: 3px;
    padding: 16px 16px;
  }
  /* Product Details End ----------- */
}

/* Mobile Layout: 480px. */
@media only screen and (min-width: 320px) and (max-width: 575px) { 
  .container {
    min-width: 100%;
  }
  /* Topbar */
  .navbarMainMenuRwap {
    height: 48px;
  }
  .navbarLogoBox img {
    width: 98%;
    margin-top: -3px;
  }
  .navbarSearchBox input {
    height: 27px;
    width: 94%;
    font-size: 10px;
    margin-top: 11px;
  }
  .navbarSearchBox span button {
    height: 27px;
    width: 27px;
    font-size: 9px;
    margin-top: 5px;
    margin-left: -25px;
    line-height: 1px;
  }
  .navbarRightBxIcon i.fas {
    font-size: 22px;
    margin-top: 13px;
  }

  .SidebarNavWrapBox ul li a {
    font-size: 12px;
  }
  .SidebarNavWrapBox {
    width: 155px;
  }
  .SidebarNavWrapBox ul li {
    display: block;
    padding: 6px 0px;
  }
  /* Topbar End ------------*/

  /* Home Banner Start */
  .HomeBannerHeadTxt {
    height: 135px;
  }
  .HomeBannerHeadTxt img {
    width: 100%;
    height: 101px;
    margin-top: 40px;
  }
  .HomeBannerHeadTxt h1 {
    font-size: 18px;
    font-weight: 700;
    margin-top: -76px;
    padding-left: 30px;
    padding-right: 30px;
  }
  /* Home Banner End */

  /* Sidebar */
  .LeftSidebarHomeWrap {
    display: none;
  }
  /* Sidebar */

  /* Product Content Start */
  .HomeAllProductsMainWrap {
    margin-top: 20px;
  }
  .row.hmContentProductExPdd .col-md-4 {
    padding: 0px 3px;
  }
  .HomeAllProductsImgBox {
    background-color: #fff;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  .HomeAllProductsImgBox img {
    width: 100%;
    border-radius: 3px;
    height: 160px;
  }
  .HmAllProductsText {
    margin-top: 8px;
  }
  .HmAllProductsText p {
    font-size: 10px;
    color: #333;
    margin-bottom: 10px;
  }
  .HmAllProdPriceBox {
    margin-top: 12px;
    margin-bottom: 8px;
  }
  span.HmAllProdPricSn {
    font-size: 12px;
    padding: 7px 15px;
    position: relative;
  }
  .HmAllProductDotTop {
    left: 24px;
  }
  .HmAllProductDotBottom {
    left: 24px;
  }
  span.HmAllProdOffPrc {
    font-size: 12px;
  }
  .HomeContAllProdLoadBtn {
    margin: 15px;
    margin-bottom: 5px;
  }
  .HomeContAllProdLoadBtn button {
    padding: 6px 22px;
    font-size: 11px;
    margin-bottom: 8px;
  }
  /* Product Content End -------------- */

  /* Product Details Start */
  .productDetailsMainBox {
    margin-top: 56px;
  }
  .productDetailsMainWrap {
    border-radius: 3px;
    padding: 20px;
    margin-top: 13px;
  }
  .productLgImg img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
  .productDetailsText {
    margin-top: 12px;
    padding-left: 1px;
    padding-right: 4px;
  }
  .productDetailsText h1 {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 24px;
  }
  .productDetailsText p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 28px;
    font-weight: 500;
  }
  .productDetailsText p strong {
    font-weight: 600;
  }
  .productDetailsText p span {
    font-size: 14px;
  }
  .productDetailsText a {
    color: #000;
    font-size: 13px;
    padding: 10px 20px;
    letter-spacing: 1px;
    padding-right: 17px;
    border-radius: 3px;
  }
  .productDetailsText a span {
    margin-left: 6px;
  }
  .prodDescMainBoxCont {
    border-radius: 3px;
    padding: 14px 20px;
  }
  .prodDescMainBoxCont p {
    font-size: 12px;
    line-height: 18px;
  }
  /* Product Details End --------- */
}

